@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #fefced;
}

.container-grid-home,
.container-grid-proj,
.container-grid-podcast,
.container-grid-podcastCu,
.container-grid-over,
.container-grid-agenda {
    padding: 4%;
}

.hamburger-check {
    height: 0;
    overflow: hidden;
    margin-bottom: 12%;
    height: 0;
    border-bottom: 1px solid black;
}

.hamburger-check li {
    font-size: 40px;
}

.desktop {
    display: none;
    visibility: hidden;
}

.hamburger-nav {
    display: grid;
    align-items: center;
    justify-content: end;
    grid-template-rows: 1fr 1fr 1fr;
}

.x-nav {
    color: #231f20;
    display: grid;
    justify-content: end;
    visibility: hidden;
    display: none;
    font-size: 50px;
}

.hamburger-nav span {
    width: 50px;
    height: 5px;
    background-color: #231f20;
    animation: 1s ease-out hamburgerNav;
}

.carousel {
    display: none;
}

@keyframes hamburgerNav {
    0% {
        width: 0;
    }

    100% {
        width: 50px;
    }
}

@keyframes hamburgerNavTwee {
    0% {
        width: 0;
    }

    100% {
        width: 35px;
    }
}

@keyframes hamburgerNavDrie {
    0% {
        width: 0;
    }

    100% {
        width: 25px;
    }
}


.container-grid-proj aside span:nth-child(2),
.container-grid-over aside span:nth-child(2),
.container-grid-contact aside span:nth-child(2),
.container-grid-home aside span:nth-child(2),
.container-grid-podcast aside span:nth-child(2),
.container-grid-podcastCu aside span:nth-child(2),
.container-grid-agenda aside span:nth-child(2) {
    width: 35px;
    animation: 1s ease-out hamburgerNavTwee;
}

.container-grid-proj aside span:nth-child(3),
.container-grid-over aside span:nth-child(3),
.container-grid-home aside span:nth-child(3),
.container-grid-podcast aside span:nth-child(3),
.container-grid-podcastCu aside span:nth-child(3),
.container-grid-agenda aside span:nth-child(3) {
    width: 25px;
    animation: 1s ease-out hamburgerNavDrie;
}

h1,
h2,
h3,
h4,
p,
li,
a,
form,
input {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #231f20;
}

h1 {
    font-weight: 900;
}

.actief {
    background-color: #d25a27;
}

.titelWauw figure {
    width: 200px;
    height: 16px;
    margin-top: -16px;
    z-index: -5;
    background-color: #d25a27;
}

.nav-figure {
    width: 58px;
    height: 10px;
    margin-top: -7px;
    background-color: #d25a27;
    z-index: -5;
    animation: 1s ease-out 0s 1 effectSchuivenLijntjeNav;
}

.nav-figureUitleg {
    width: 25px;
    height: 5px;
    background-color: #d25a27;
    z-index: -5;
}

.container-grid-home header,
.container-grid-proj header,
.container-grid-over header,
.container-grid-agenda header,
.container-grid-contact header,
.container-grid-podcast header,
.container-grid-podcastCu header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.container-grid-home header div,
.container-grid-proj header div,
.container-grid-over header div,
.container-grid-contact header div,
.container-grid-agenda header div,
.container-grid-podcast header div,
.container-grid-podcastCu header div {
    display: grid;
    grid-template-columns: 1fr;
}

.container-grid-home header div img,
.container-grid-proj header div img,
.container-grid-over header div img,
.container-grid-agenda header div img,
.container-grid-contact header div img,
.container-grid-podcast header div img,
.container-grid-podcast header div img,
.container-grid-podcastCu header div img {
    width: 70%;
}

.container-grid-home header div a,
.container-grid-over header div a,
.container-grid-agenda header div a,
.container-grid-contact header div a,
.container-grid-podcast header div a,
.container-grid-podcastCu header div a,
.container-grid-proj header div a {
    border-right: 1px solid #2d2d2d;
}

.container-grid-home header h1 {
    font-size: 75px;
    color: #d25a27;
}

.container-grid-proj header h1 {
    font-size: 75px;
    color: #d25a27;
}

.container-grid-over header h1 {
    font-size: 75px;
    color: white;
}


.container-grid-home header nav,
.container-grid-proj header nav,
.container-grid-over header nav,
.container-grid-agenda header nav,
.container-grid-contact header nav,
.container-grid-podcast header nav,
.container-grid-podcastCu header nav {
    display: grid;
    align-items: center;
}

.container-grid-home header nav ul,
.container-grid-proj header nav ul,
.container-grid-over header nav ul,
.container-grid-agenda header nav ul,
.container-grid-contact header nav ul,
.container-grid-podcast header nav ul,
.container-grid-podcastCu header nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container-grid-home header nav ul li,
.container-grid-proj header nav ul li,
.container-grid-over header nav ul li,
.container-grid-agenda header nav ul li,
.container-grid-contact header nav ul li,
.container-grid-podcast header nav ul li,
.container-grid-podcastCu header nav ul li {
    display: grid;
    justify-content: center;
    font-weight: 500;
}

.container-grid-home main div:nth-child(1),
.container-grid-home main div:nth-child(2) {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.container-grid-home main h1,
.container-grid-proj main h1,
.container-grid-over main h1,
.container-grid-agenda main h1,
.container-grid-contact main h1,
.container-grid-podcast main h1,
.container-grid-podcastCu main h1 {
    font-size: 6em;
}

.container-grid-proj main h2,
.container-grid-over main h2,
.container-grid-over aside h2,
.container-grid-agenda main h2,
.container-grid-contact main h2,
.container-grid-podcast main h2,
.container-grid-podcastCu main h2 {
    font-size: 4em;
}

.container-grid-contact aside h2 {
    font-size: 2em;
}

.container-grid-home main h1 {
    font-size: 7em;
}

.container-grid-home main h2 {
    font-size: 5em;
}

.container-grid-home aside h2 {
    font-size: 3em;
}

.container-grid-over p,
.container-grid-proj p,
.container-grid-podcastCu p,
.container-grid-home p {
    font-size: 20px;
    width: 80%;
    margin: auto;
    padding: 3%;
    line-height: 26px;
    letter-spacing: 3px;
}

.container-grid-home .knop,
.container-grid-proj main .knop {
    margin-top: 2%;
}

.knop {
    font-size: 23px;
}

.container-grid-podcastCu .knop a {
    padding: 5%;
}

.container-grid-home .knop {
    display: flex;
}

.knop a {
    border: 2px solid #231f20;
    text-decoration: none;
    padding: 0% 2%;
    font-size: 24px;
}

.container-grid-home main div figure {
    width: 300px;
    height: 35px;
    margin-top: -40px;
    background-color: #d25a27;
}

.container-grid-home aside figure,
.container-grid-podcastCu main figure {
    width: 150px;
    height: 17px;
    margin-top: -20px;
    background-color: #d25a27;
    z-index: -5;
    animation: 1s ease-out 0s 1 effectSchuivenLijntjeHalf;
}

.container-grid-home aside img {
    width: 100%;
}

.container-grid-proj main div figure {
    width: 19px;
    height: 5px;
    margin-top: -3px;
    background-color: #d25a27;
}

.naamEn figure {
    width: 71px;
    height: 17px;
    margin-top: -24px;
    background-color: #d25a27;
}

.naamLotte figure {
    width: 182px;
    height: 17px;
    margin-top: -24px;
    background-color: #d25a27;
}

.naamStephanie figure {
    width: 362px;
    height: 17px;
    margin-top: -24px;
    background-color: #d25a27;
}

.container-grid-home article b {
    font-size: 36px;
    font-weight: bold;
}

.container-grid-home main {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    height: 64vh;
}

.container-grid-proj main h3,
.container-grid-proj main h4,
.container-grid-contact aside h3,
.container-grid-contact aside h4 {
    font-weight: bold;
}

.container-grid-proj main h3 {
    padding: 3%;
}

.container-grid-home main img {
    width: 90%;
}

.container-grid-proj main img {
    width: 100%;
}

.container-grid-proj main {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
    padding-top: 3%;

}

.workshopKinderen {
    padding-top: 5%;
    padding-right: 5%;
    border-top: 1px solid black;
    border-right: 1px solid black;
}


.workshopKinderen img {
    padding-bottom: 5%;
}

.workshopArchi {
    padding-top: 5%;
    padding-left: 5%;
    border-top: 1px solid black;
}

.container-grid-proj main .workshopArchi div:nth-child(1) {
    display: grid;
    grid-gap: 28px;
}

.minigolf,
.zomercafe,
.betonstad,
.droomstad,
.bewegendeStad {
    border: 1px solid black;
    display: grid;
    align-content: end;
    justify-content: end;
    background-size: cover;
    background-repeat: no-repeat;
}

.workshopArchi h2,
.bewegendeStad h2 {
    font-size: 6em !important;
    font-weight: bold;
    color: white;
}

.workshopKinderen div:nth-child(2),
.workshopKinderen div:nth-child(3),
.workshopKinderen div:nth-child(4) {
    margin-top: 4%;
}

.workshopArchi .groupWorks,
.bewegendeStad {
    height: 75vh;
}

.bewegendeStad {
    background-image: url("../images/Bewegendestad1.jpeg")
}

.minigolf {
    background-image: url("../images/minigolf1.jpeg");
}

.zomercafe {
    background-image: url("../images/Zomercafe4.jpeg");
}

.container-grid-proj main .betonstad {
    grid-row: 2/3;
    grid-column: 1/3;
    background-image: url("../images/Betonstad.jpeg");
}

.container-grid-proj main .droomstad {
    grid-row: 3/4;
    grid-column: 1/3;
    background-image: url("../images/Droomhuizen4.jpeg");
}


.container .container-grid-home main img {
    width: 100%;
}



.container-grid-home .uitlegWauw {
    border-bottom: 1px solid #2d2d2d;
    padding-top: 1%;
    padding-bottom: 1%;
}

.uitlegWauwDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 75%;
    margin: auto;
}

.uitlegWauwDiv div {
    display: grid;
    justify-content: center;
}

.container-grid-home header div:nth-child(1) {
    display: grid;
    padding-left: 6%;
    align-items: center;
}

.container-grid-home main div:nth-child(1) {
    justify-content: start;
    padding-left: 0;
}

.container-grid-home main div:nth-child(2) {
    margin-right: 20%;
    z-index: -5;

}

.container-grid-home main h1 {
    font-size: 4em;
}


.container-grid-home main .knop a {
    font-size: 24px;
}

.container-grid-home nav ul li a:hover {
    color: #231f20;
    animation: 1s ease-out effectSchuivenNav;
    background-color: #d25a27;

}

footer {
    color: #fefced;
    text-align: center;
    background-color: #231f20;
    padding: 1% 1% 1% 1%;
}

footer p {
    color: #fefced;
    padding: 0 !important;
}

.container-grid-proj main h1,
.container-grid-over main h1,
.container-grid-agenda main h1,
.container-grid-contact main h1,
.container-grid-podcast main h1,
.container-grid-podcastCu main h1 {
    font-size: 4em;
}

i {
    display: none;
}

form div {
    display: flex;
}


.container-grid-over .bannerBijde {
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    display: grid;
    align-items: center;
    font-size: 6em;
    font-weight: bold;
    background-image: url("../images/WAUW_blue.jpg");
    color: white;
    padding: 5%;
}

.container-grid-over .bannerBijde h2 {
    color: white;
}

.titelWauw {
    margin-top: 5%;
    margin-bottom: 2%;
}

.container-grid-podcast main div img:nth-child(1) {
    padding-left: 67%;
}

.container-grid-podcast main .rijEen div div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
}

.container-grid-podcast main div img:nth-child(2) {
    z-index: -5;
}

.container-grid-home aside .homeOverons h3,
.container-grid-proj h3,
.container-grid-agenda article h3 {
    border-top: 2px solid #2d2d2d;
    border-bottom: 2px solid #2d2d2d;
    text-align: center;
}

.container-grid-podcast h3 {
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 2em;
}

.container-grid-podcast .rijEen div {
    margin-top: 5%;
}

footer a,
footer li {
    color: white;
    margin-top: 50px;
}

footer section {
    width: 60%;
    margin: auto;
}

video {
    width: 902px;
}

.box-test {
    animation: fade-in-overlay .2s ease-in-out forwards;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #231f209c;
}

.box-test .text-box {
    animation: 1s ease-out 0s 1 tekstCookie;
    position: absolute;
    background-color: white;
    max-width: 45%;
    top: 40%;
    border-radius: 6px;
    margin: auto;
    padding: 22px;
    left: 25%;
}



.box-test h3,
.container-grid-agenda h3,
.container-grid-contact h3 {
    font-weight: 700;
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

label,
.text-box input {
    font-size: 40px;
    width: 93%;

}

.text-box form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 45px;
}

.container-grid-podcastCu h2 {
    padding-top: 3%;
}

.container-grid-agenda .groupAgenda section {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 17vh;
}

.container-grid-agenda .agendaRecycle {
    background-image: url(../images/archikids2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-grid-agenda .agendaCopy {
    background-image: url("../images/minigolf1-over.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.container-grid-agenda .agendaSeeU {
    background-image: url("../images/minigolf1-over.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-grid-agenda .agendaRecycle {
    background-image: url("../images/archikids2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-grid-agenda .agendaRecycleTwee {
    background-image: url("../images/archikids.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-grid-agenda .agendaIedereen {
    background-image: url("../images/teachup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sleutelwoordKind {
    background-color: #ffba01;
}

.sleutelwoordOuder {
    background-color: #d25a27;
}

.sleutelwoordIedereen {
    background-color: #31449c;
}

input[type=checkbox]::before {
    border: none;
    color: white;
    background-color: #31449c;
}

.container-grid-agenda main .agendaAlles {
    padding-top: 5%;
    padding-bottom: 5%;
}

.container-grid-home aside section div {
    margin-top: 2%;
    margin-bottom: 2%;
}

.container-grid-home .homeOverons div {
    margin-top: 2%;
}

.uitlegWauw {
    display: none;
}

.container-grid-podcast main .rijEen {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
}

.container-grid-podcast main img {
    width: 60%;
}

video {
    width: 500px;
}

label,
.text-box input {
    font-size: 16px;
    width: 87%;
}

@media (min-width: 768px) {
    .uitlegWauw {
        display: grid;
    }


    .desktop {
        display: none;
        visibility: hidden;
    }

    header {
        border-top: 0px solid black;
        border-bottom: 0px solid black;
        font-size: 13px;
    }

    .knop a {
        font-size: 19px;
    }

    .nav-figure {
        height: 10px;
        margin-top: 0px;
        background-color: #d25a27;
        z-index: -5;

    }

    .uitlegWauwDiv {
        width: 90%;
    }

    .container-grid-home header div img,
    .container-grid-proj header div img,
    .container-grid-over header div img,
    .container-grid-agenda header div img,
    .container-grid-contact header div img,
    .container-grid-podcast header div img,
    .container-grid-podcast header div img,
    .container-grid-podcastCu header div img {
        width: 54%;
    }

    .container-grid-home aside h2 {
        font-size: 3em;
    }

    .container-grid-home header div,
    .container-grid-proj header div,
    .container-grid-over header div,
    .container-grid-contact header div,
    .container-grid-agenda header div,
    .container-grid-podcast header div,
    .container-grid-podcastCu header div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    p {
        letter-spacing: 3px;
        line-height: 23px;
    }

    footer {
        padding: 4%;
        font-weight: bold;
    }

    .container-grid-over p,
    .container-grid-proj p,
    .container-grid-podcastCu p,
    .container-grid-home p {
        font-size: 16px;
    }

    .fab {
        padding: 2%;
    }

    footer h3 {
        color: white;
    }

    footer div {
        margin: auto;
    }

    footer div div {
        width: 39%;
        padding-top: 1%;
        margin-top: 1%;
        padding-bottom: 1%;
        margin-bottom: 1%;
        border-bottom: 1px solid white;
    }

    .socialmedia {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        margin-top: 2%;
    }

    footer aside {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 2%;
    }

    footer aside ul {
        display: grid;
    }

    footer aside ul li {
        color: white;
    }



    .container-grid-home header,
    .container-grid-proj header,
    .container-grid-over header,
    .container-grid-agenda header,
    .container-grid-contact header,
    .container-grid-podcast header,
    .container-grid-podcastCu header {
        display: grid;
        border-top: 1px solid #2d2d2d;
        border-bottom: 1px solid #2d2d2d;
    }

    .container-grid-home,
    .container-grid-proj,
    .container-grid-over,
    .container-grid-agenda,
    .container-grid-podcast,
    .container-grid-contact,
    .container-grid-podcastCu {
        padding: 2%;
    }

    .group-verons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container-grid-over header aside h1 {
        color: #231f20;
        background-color: #fefced;
        padding: 6%;
        width: 53%;
    }

    .container-grid-over main {
        display: grid;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .container-grid-home main {
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 1fr;
        align-content: center;
        border-bottom: 1px solid black;
        height: 50vh;
        overflow: hidden;
    }


    .container-grid-home main img {
        width: 100%;
    }

    .container-grid-home aside section:nth-child(1) {
        border-bottom: 1px solid black;
    }

    .container-grid-home aside section:nth-child(2) article div:nth-child(1),
    .container-grid-home aside section:nth-child(2) article div:nth-child(3) {
        visibility: hidden;
    }

    .container-grid-home .homeOverons div p {
        margin-top: 38px;
        margin-bottom: 38px;
    }

    .container-grid-home .homeOverons h3 {
        margin-bottom: 5%;
    }

    .container-grid-home aside .homeOverons h3,
    .container-grid-proj h3,
    .container-grid-agenda article h3 {
        border-top: 2px solid #2d2d2d;
        border-bottom: 2px solid #2d2d2d;
        text-align: center;
    }

    #homeWorkshop {
        display: none;
    }

    .container-grid-home aside div {
        display: grid;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 3%;
    }


    .container-grid-home aside div h2 {
        margin-top: 5%;
        margin-bottom: 1%;
    }

    .container-grid-home aside article {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        letter-spacing: 3px;
        line-height: 23px;
        grid-gap: 56px;
    }

    .container-grid-home aside .home-cd {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        letter-spacing: 3px;
        line-height: 23px;
        grid-gap: 56px;
    }

    .container-grid-home aside section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .container-grid-home aside article .homeOverons {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 56px;
    }

    .container-grid-home aside article div {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .container-grid-home aside article div .knop {
        justify-content: start;
    }

    #homeKnopPodcast {
        visibility: visible;
    }

    .container-grid-home div h3,
    .container-grid-agenda h3 {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .container-grid-home p {
        width: 80%;
    }

    .container-grid-home header div:nth-child(1),
    .container-grid-proj header div:nth-child(1),
    .container-grid-over header div:nth-child(1),
    .container-grid-agenda header div:nth-child(1),
    .container-grid-contact header div:nth-child(1),
    .container-grid-podcast header div:nth-child(1),
    .container-grid-podcastCu header div:nth-child(1) {
        display: grid;
        padding-left: 6%;
        align-items: center;
    }

    .container-grid-home main div:nth-child(1) {
        justify-content: start;
        padding-left: 20%;
    }

    .container-grid-home main div:nth-child(2) {
        margin-right: 51%;
        z-index: -5;
    }



    .container-grid-home aside div img {
        width: 100%;
    }

    .container-grid-home main div img {
        width: auto;
    }

    .container-grid-home main h1 {
        font-size: 4em;
    }

    .container-grid-over main h1 {
        font-size: 6em;
    }

    .container-grid-home main h2 {
        font-size: 3em;
    }

    .container-grid-over main h2,
    .container-grid-over aside h2,
    .container-grid-home h2 {
        font-size: 3em;
    }


    .container-grid-over main div p,
    .container-grid-over aside div p {
        font-size: 20px;
        line-height: 30px;
    }

    .container-grid-over main div p {
        max-width: 80%;
    }

    .container-grid-home main .knop a {
        font-size: 24px;
    }

    .knop a:hover {
        color: white;
        background-color: #231f20;
    }

    .container-grid-home nav ul li a:hover {
        color: #231f20;
        animation: 1s ease-out effectSchuivenNav;
        background-color: #d25a27;

    }

    .container-grid-proj nav ul li a:hover {
        color: #231f20;
        animation: 1s ease-out effectSchuivenNav;
        background-color: #d25a27;
    }

    .container-grid-over nav ul li a:hover {
        color: #231f20;
        animation: 1s ease-out effectSchuivenNav;
        background-color: #d25a27;
    }

    .container-grid-contact nav ul li a:hover {
        color: #231f20;
        animation: 1s ease-out effectSchuivenNav;
        background-color: #d25a27;
    }

    .container-grid-podcast nav ul li a:hover {
        color: #231f20;
        animation: 1s ease-out effectSchuivenNav;
        background-color: #d25a27;
    }

    .container-grid-podcastCu nav ul li a:hover {
        color: #231f20;
        animation: 1s ease-out effectSchuivenNav;
        background-color: #d25a27;
    }

    .container-grid-home main div section figure {
        animation: 1s ease-out 0s 1 effectSchuivenLijntje;
    }

    .container-grid-home main div:nth-child(1) {
        animation: 1s ease-out 0s 1 effectSchuiven;
    }

    .container-grid-home main div:nth-child(2) {
        animation: 1s ease-out 0s 1 effectSchuivenFoto;

    }



    .actief {
        animation: 1s ease-out effectSchuivenNav;
    }

    @keyframes effectSchuivenLijntjeHalf {
        0% {
            width: 0;
        }

        100% {
            width: 150px;
        }
    }

    @keyframes effectSchuivenLijntje {
        0% {
            width: 0;
        }

        100% {
            width: 300px;
        }
    }

    @keyframes effectSchuivenLijntjeNav {
        0% {
            width: 0;
        }

        100% {
            width: 58px;
        }
    }

    @keyframes effectSchuivenLijntjeNavUitleg {
        0% {
            width: 0;
        }

        100% {
            width: 14px;
        }
    }

    @keyframes effectSchuivenLijntjeTwee {
        0% {
            width: 0;
        }

        100% {
            width: 124px;
        }
    }

    @keyframes effectSchuivenLijntjeVier {
        0% {
            width: 0;
        }

        100% {
            width: 50px;
        }
    }

    @keyframes effectSchuivenNav {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }

    @keyframes effectSchuiven {
        0% {
            transform: translateY(-10%);
            opacity: 25%;
        }

        100% {
            transfrom: translateY(0);
            opacity: 100%;
        }
    }

    @keyframes effectSchuivenFoto {
        0% {
            transform: translateY(-15%);
        }

        100% {
            transfrom: translateY(0);
        }
    }

    @keyframes grijzeFoto {
        0% {
            filter: grayscale(100%);
        }

        100% {
            filter: grayscale(0%);
        }
    }

    @keyframes tekstCookie {
        0% {
            opacity: 0;

        }

        100% {
            opacity: 1;
        }
    }



    .container-grid-over main .images-over {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;

    }

    .container-grid-over main .images-over img {
        width: 100%;
    }



    .container-grid-over main article {
        padding: 4%;
        display: flex;
        flex-direction: column;
    }

    .container-grid-over aside section {
        padding: 5%;
    }

    .box-test {
        animation: fade-in-overlay .2s ease-in-out forwards;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        background-color: #231f209c;
    }

    .box-test .text-box {
        animation: 1s ease-out 0s 1 tekstCookie;
        position: absolute;
        background-color: white;
        max-width: 35%;
        top: 40%;
        border-radius: 6px;
        margin: auto;
        padding: 22px;
        left: 32%;
    }

    .box-test h3,
    .container-grid-agenda h3,
    .container-grid-contact h3 {
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 3%;
        padding-bottom: 3%;
        font-size: 20px;
    }

    .container-grid-agenda figure h3 {
        margin-top: 20px;
        font-size: 33px;
        margin-bottom: 20px;
    }

    .box-test .text-box p {
        margin-bottom: 15px;
        line-height: 22px;
    }



    .text-box form {
        grid-gap: 10px;
    }

    .group-knoppen {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 53px;
        text-align: center;
    }

    .group-knoppen a:nth-child(1) {
        padding: 5%;
        background-color: #d25a27;
        border-radius: 5px;
    }

    .group-knoppen a:nth-child(1):hover {
        background-color: #839e4e;
    }

    .group-knoppen a:nth-child(2) {
        padding: 5%;
        background-color: #ffba01;
        border-radius: 5px;
    }

    .group-knoppen a:nth-child(2):hover {
        background-color: #fdcf4e;
    }

    .group-knoppen a:nth-child(3) {
        padding: 5%;
        background-color: #2c366b;
        border-radius: 5px;
    }

    .group-knoppen a:nth-child(3):hover {
        background-color: #43529b;
    }


    .container-grid-agenda main {
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-gap: 28px;
    }

    .container-grid-agenda main .agendaAlles {
        display: grid;
        grid-template-columns: 1fr 5fr;
        border-bottom: 1px solid #2d2d2d;
    }



    #nietZichtbaar {
        display: grid;
    }

    #iedereen {
        border-bottom: 0px;
    }



    .container-grid-agenda form div {
        display: flex;
        margin-bottom: 22px;
    }

    .container-grid-contact section form p {
        line-height: 80px;
    }

    .container-grid-agenda .groupAgenda {
        display: grid;
        grid-template-columns: 4fr 2fr;
        height: 220px;
        overflow: hidden;
    }

    .container-grid-agenda .groupAgenda section {
        display: flex;
        align-items: center;
        justify-content: end;
    }



    #ouder,
    #kinderen {
        display: grid;
    }

    .container-grid-agenda main .agendaAlles figure {
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    main .titelWauw {
        display: grid;
        justify-content: center;

        margin-bottom: 5%;

    }

    .agendaAlles {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .container-grid-agenda main .agendaAlles article {
        padding: 6%;
    }

    .container-grid-contact main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: url("../images/banner.png");
        height: 60vh;
    }


    .container-grid-contact .gegevens {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container-grid-contact main {
        margin-bottom: 2%;
    }

    .container-grid-contact aside div h2 {
        color: #d25a27;
        font-weight: bold;
    }

    .container-grid-contact main form {
        line-height: 84px;
        background-color: #fefced;
    }

    .container-grid-contact main div h1 {
        color: #fefced;
    }

    .container-grid-contact main div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-grid-contact main div:nth-child(2) {
        display: flex;
        align-items: end;
        margin-top: 13%;
        justify-content: center;
    }

    .container-grid-contact main div:nth-child(2) section {
        width: 65%;
        background-color: #fefced;
    }

    .container-grid-contact main div:nth-child(2) section form {
        padding: 13%;
        display: flex;
        flex-direction: column;
        border: 1px solid #2d2d2d;
    }

    .container-grid-contact main div:nth-child(2) section form input {
        border: none;
        border-bottom: 2px solid #2d2d2d;
        margin-bottom: 2%;
        background-color: #fefced;
    }

    .container-grid-podcast main .rijEen {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    .container-grid-podcast main img {
        width: 100%;
    }

    .container-grid-podcast main div img:nth-child(1) {
        padding-left: 47%;
    }

    .container-grid-podcast main div img:nth-child(2) {
        z-index: -5;
    }

    .container-grid-podcast main .rijEen {
        padding: 2%;
        border-bottom: 1px solid #2d2d2d;
    }

    .container-grid-podcast main .rijEen:nth-child(3) {
        border-bottom: 0px;
    }

    .container-grid-podcast main .rijEen div div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        cursor: pointer;
    }

    .container-grid-podcastCu main {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        align-items: center;
        justify-items: center;
        border-left: 1px solid #2d2d2d;
        margin-top: 50px;
    }

    .container-grid-podcastCu h2 {
        padding-top: 3%;
    }

    .podcastVid {
        display: grid;
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
    }

    .container-grid-contact aside div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        margin-top: 5%;
    }

    .formulier {
        display: flex;
        align-items: center;
    }

    .text-box form {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    i {
        cursor: pointer;
    }

    footer a:hover {
        color: #d25a27;
    }

    .container-grid-agenda .groupAgenda section {
        display: flex;
        align-items: center;
        justify-content: end;
        height: auto;
    }

    video {
        width: 783px;
    }

    label,
    .text-box input {
        font-size: 20px;
        width: 93%;

    }

    .hamburger-check {
        display: none;
    }

    .hamburger-nav span {
        height: 5px;
    }

    .container-grid-home main div:nth-child(1) {
        justify-content: start;
        padding-left: 20%;
    }

}


@media (min-width: 1024px) {
    header {
        font-size: 13px;
    }
}

@media (min-width: 1200px) {
    .container-grid-home main h1 {
        font-size: 11em;
    }

    .container-grid-over main {
        display: grid;
        margin-top: 0;
        margin-bottom: 5%;
    }

    video {
        width: 1200px;
    }

    .desktop {
        visibility: visible;
        display: grid;
    }

    .hamburger-nav {
        display: none;
    }

    .hamburger-check {
        display: none;
    }

    .container-grid-home header,
    .container-grid-proj header,
    .container-grid-over header,
    .container-grid-agenda header,
    .container-grid-contact header,
    .container-grid-podcast header,
    .container-grid-podcastCu header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header {
        border-top: 0px solid black;
        border-bottom: 0px solid black;
        font-size: 20px;
    }

    .nav-figure {
        width: 58px;
        height: 10px;
        margin-top: -7px;
        background-color: #d25a27;
        z-index: -5;
        animation: 1s ease-out 0s 1 effectSchuivenLijntjeNav;
    }

    .container-grid-home main div:nth-child(2) {
        margin-right: 20%;
        z-index: -5;
    }


    .container-grid-home aside article .homeOverons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 56px;
    }

    .container-grid-home aside .home-cd .homeOverons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 56px;
    }

    .container-grid-home .home-cd img {
        width: 100%;
    }

    .container-grid-podcast main .rijEen {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
    }

    .uitlegWauwDiv {
        width: 75%;
    }

    .container-grid-home main {
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 1fr;
        align-content: center;
        border-bottom: 1px solid black;
        height: 90vh;
        overflow: hidden;
    }

    .box-test h3,
    .container-grid-agenda h3,
    .container-grid-contact h3 {
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 24px;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .container-grid-proj main {
        grid-template-columns: 1fr 1fr;
    }

    .container-grid-agenda main .agendaAlles {
        padding-top: 1%;
        padding-bottom: 1%;
    }
}